@font-face {
    font-family: Bellefair;
    src: url(./assets/fonts/Bellefair-Regular.ttf);
  }

  @font-face {
    font-family: Barlow;
    src: url(./assets/fonts/Barlow-Light.ttf);
  }

.d-none{
    display: none !important;
}




body{
color: white;
font-family: Bellefair;
font-weight: 100;
text-transform: uppercase;
width: 100%;
height: 100%;
margin: 0;
}


.index-space-text p, .dest-info, .crew-member-info, .about-technology{
text-transform: capitalize;
}

.background{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.index-bg{
background-image: url(./assets/home/background-home-desktop.jpg);
}
.destination-bg{
    background-image: url(./assets/destination/background-destination-desktop.jpg);
}
.crew-bg{
    background-image: url(./assets/crew/background-crew-desktop.jpg);
}
.technology-bg{
    background-image: url(./assets/technology/background-technology-desktop.jpg);
}

.headers{
    font-family: Bellefair;
    text-transform: uppercase; 
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 2px;
}



/* index */
.header{
    width: 100%;
    margin-left: 7px;
    position: fixed;
    top: 0;
}
.logo{
    position: fixed;
    margin:55px 55px 0;
    width: 50%;
}
.logo-img{
    width: 48px;
    height: 48px;
}

.hr{
    width: 100%;
    height: 1px;
    background-color: #979797;
    position: absolute;
    bottom: 50%;
    left: 100px;
    z-index: 2;
    opacity: 0.3;
}

.hamburger-menu,.hamburger-menu-close,.nav-menu-m{
    display: none;
}
.nav-div{
    backdrop-filter: blur(25px);
    width: 50%;
    float: right;
    margin-top: 40px;
}

.nav-menu{
    display: flex;
    justify-content: center;
}
.nav-links{
    font-size: 14px;
    padding: 35px 0;
    margin: 0 30px;
    letter-spacing: 1px;
    text-decoration:none;
    color: #ffffff;
}

.nav-links.active , .dest-link.active{
    border-bottom: 2px solid white;
}

.nav-links span{
    font-weight: 600;
    font-size: 15px;
}
.explore{
    margin-top: 7%;
    margin-right: 15%;
    height: 274px;
    width: 274px;
    background-color: #ffffff;
    border-radius: 50%;
    color: #0B0D17;
    display: flex;
    justify-content: center;
    align-items: center;

}

.explore p{
    font-size: 32px;
    letter-spacing: 2px;
    
}


.index-text{
margin-top: 250px;
margin-left: 10%;
display: flex;
justify-content: space-between;


}
.index-space-text{
    width: 450px;

}

.index-space-text h1{
    font-weight: 100;
    padding: 0;
    font-size: 150px;
    margin:10px 0 10px -15px;
}

.index-space-text h3{
    color: #D0D6F9;
    font-family: Barlow;
    font-weight: 100; 
    letter-spacing: 2px;
    font-size: 23px;
}
.index-space-text p, .about-technology{
    color: #D0D6F9;
    font-family: Barlow;
    font-size: 18px;
    line-height: 30px;
}
/* index */


/* Destination */
.destination-main{
    display: flex;
    margin: 10%;
}


.destination-main .hr{
    position: static;
    margin-top: 70px;
    margin-bottom: 20px;
}


.destination-img-div, .about-destination{
    width: 50%;
}
.destination-name{
    font-size: 100px;
    font-weight: 100;
    margin: 0;


}

.dest-info , .crew-member-info{
    font-family: Barlow;
    font-size: 18px;
    line-height: 30px;
    color: #D0D6F9;
    
}


.distance-info{
    display: flex;
}

.distance-info h2{
    font-size: 28px;
    margin-top: 10px;
    font-weight: 100;
}

.distance-info h5{
    font-family: Barlow;
    font-size: 14px;
    color: #D0D6F9;
    font-weight: 100;
    margin-bottom: 0;
    opacity: 0.6;
}

.avg-distance , .travel-time-info{
    width: 50%;
}



.destination-menu{
    display: flex;
    justify-content: left;
    margin: 80px 0 40px;
}

.dest-link{
margin-right:20px;
font-family:Bellefair;
font-weight: 100;
padding-bottom: 5px;
cursor: pointer;

}
/* Destination */



/* Crew */
.crew-main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 10% 10% 0;
}

.crew-images , .crew-info{
    width: 50%;
}

.crew-images img{
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 10%;
}

.crew-info{
    text-align: left;
}

.crew-member-info{
    width: 500px;
}

#position{
    margin-top: 130px;
    font-weight: 100;    
    font-size: 24px;
    color: #979797;
    margin-bottom: 0;
}

#crew-member{
    font-weight: 100;    
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: 10px;
}
.crew-menu{
display: flex;
margin-top: 50px;
}

.crew-link{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #979797;
    margin: 10px;
    cursor: pointer;
}

.crew-link.active{
    background-color: white;
}
/* Crew */



.technology-main{
    position: relative;
    margin: 10% 0 0 10%;
    display: flex;
}

.technology-info{
display: flex;
flex-direction: row-reverse;
}

.technology-menu{
position: absolute;
left: 0;
}

.square{
width: 80px;
height: 80px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
border:1px solid #D0D6F9;
margin: 35px 50px 35px 0;
font-size: 24px;
cursor: pointer;

}

.square.active{
    background-color: #ffffff;
    color:#0B0D17 ;
}

.about-technology{
    margin-right: 200px;
    width: 450px;
}

#technology-name{
    font-weight: 100;    
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.technology-text{
    margin-left: 150px;
}

.terminology{
    color: #D0D6F9;
    font-weight: 100;    
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 40px;
}

.technology-img-div{
    position: absolute;
    right: 0;
    top: 40px;
}


@media only screen and (max-width: 1250px) {
    .nav-links {
        white-space: nowrap;
        font-size: 12px;
        padding: 25px 0;
        margin: 0 20px;
    }
    .nav-div {
        width: auto;
        margin-top: 20px;
    }

   .hr{
        display: none;
    }
    

    .index-text{
        display: block;
        margin: 180px auto 0;
        text-align: center;
    
    }
    .index-space-text{
        max-width: 100%;
        margin: 0 auto;
    }
    
    .index-space-text h1{
        font-size: 90px;
    }
    
    .index-space-text h3{
        font-size: 16px;
    }
    
    .index-space-text p{
        font-size: 14px;
        max-width: 80%;
    margin: 0 auto;    
    }
    
    .explore{
        margin: 30px auto 0;
        width: 180px;
        height: 180px;
    }
    
    
    .explore p{
        font-size: 22px;
    }
    
    .logo {
        
        margin: 30px 25px 0;}
    
        .logo-img {
            width: 40px;
            height: auto;
        }
    
        .nav-menu-m{
            display: unset;
            display: unset;
            position: absolute;
            top: 70px;
            right: 20px;
            width: 130px;
            backdrop-filter: blur(25px);
            -webkit-backdrop-filter: blur(25px);
            padding: 10px ;
        float: right;
            }
        .nav-menu-m .nav-links{
            padding: 3px 0;
            margin: 10px 0;
            text-align: right;
            font-size: 12px;
            display: block;
        }
    .nav-menu-m .nav-links.active{
        border-bottom: 1px solid #D0D6F9;
    }
    
        .nav-menu-m .nav-links span {
        font-size: 13px;
        }
    
    
    
    
        .destination-main{
            display: block;
            margin: 120px auto 0;
            text-align: center;
        }
    
    #destinationImg{
        width: 50%;
    margin: 0 auto;
    }
    
    .headers{
        font-size: 20px;
    }
    .destination-img-div, .about-destination {
        width: 100%;
    }
    
    .destination-menu{
        justify-content: center;
        margin: 30px 0 20px;
    }
    
    .destination-name{
        font-size: 65px;
    }
    
    .dest-info, .crew-member-info {
    font-size: 15px;
    padding:0 15px 10px;
    border-bottom: 1px solid #D0D6F9;
    
    
    }
    .distance-info{
        display: block;
        text-align: center;
    }
    .avg-distance, .travel-time-info {
        width: 100%;
    }
    
    
    
    .crew-main{
        flex-direction: row;
    display: block;   
    text-align: center; 
    margin: 120px auto 0;
    position: relative;
    
    }
    .crew-images, .crew-info{
        width: 100%;
        text-align: center;
    }
    
    
    .crew-images img{
        position: static;
        height: auto;
        width: 80%;
        margin: 50px auto 0;
        border-bottom: 1px solid #D0D6F9;
        padding: 0 10%;
    
    }
    .crew-member-info{
        width: 90%;
    }
    #crew-member{
        font-size: 25px;
    }
    #position{
        margin-top: 50px;
        font-size: 20px;
    }
    
    .crew-info .headers{
        position: absolute;
        top: 0;
        left: 0;
    right: 0;
    }
    
    .crew-menu{
        justify-content: center;
        margin: 30px auto 20px;
    }
    
    .crew-member-info{
        border-bottom: none;
    }
    
    
    
    .technology-main{
        flex-direction: row;
        display: block;   
        text-align: center; 
        margin: 120px auto 0;
        position: relative;
    }
    
    .technology-info{
        display: block;
        flex-direction: row;
    }
    
    
    .technology-img-div{
        position: static;
    }
    .technology-menu{
        position: relative;
        display: flex;
        justify-content: center;
    
    }
    
    .square{
        width: 45px;
        height: 45px;
        color: #D0D6F9;
        margin: 20px 20px 20px 0;
        font-size: 17px;
    }
    
    .technology-text{
        margin-left: 0;
    }
    
    #technology-name{
    font-size: 25px;
    margin-bottom: 20px;
    }
    .terminology{
        margin-top: 20px;
    }
    #technologyImg{
        height: 300px;
        width: 100%;
        object-fit: fill;
    }
    
    .about-technology{
        width: 90%;
        text-align: center;
        padding-left: 5%;
        
    }


}



@media only screen and (max-width: 600px) {
.background{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


       .index-bg{
        background-image: url(./assets/home/background-home-mobile.jpg);
        }
        .destination-bg{
            background-image: url(./assets/destination/background-destination-mobile.jpg);
        }
        .crew-bg{
            background-image: url(./assets/crew/background-crew-mobile.jpg);
            
        }
        .technology-bg{
            background-image: url(./assets/technology/background-technology-mobile.jpg);
        }

.header{
    z-index: 2;
}

.nav-div, .hr{
    display: none;
}

.hamburger-menu{
    display: block;
    position: absolute;
    right: 30px;
    top: 40px;
}


.index-text{
    margin: 140px auto 0;

}

}